* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #F2E9E4;
}

.hero {
    background-image: url("./assets//img/heroBackground.png");
    background-color: #000000;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    width: 100%;
    color: white;
    margin: 25px 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
}

.nav-right {
    display: flex;
}

.nav-right>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-right>ul>li {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-right: 20px;
}

.nav-right>button {
    padding: 10px;
    border-radius: 6px;
    background: #9A8C98;
    color: #F2E9E4;
    margin-left: 5px;
}


/* hero box */

.hero-box {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.hero-box>h1 {
    margin-top: 100px;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-box>p {
    font-weight: 300;
    font-size: 15px;
    color: #F2E9E4;
    text-align: center;
}

.hero-box>button {
    cursor: pointer;
    margin-top: 50px;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 6px;
    background: #9A8C98;
    color: #F2E9E4;
    margin-bottom: 100px;
}

.oval {
    width: 50px;
    height: 120px;
    border: 4px solid white;
    border-radius: 30px;
    position: relative;
}

.circle {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}


/* about bar */

.about-bar {
    width: 80%;
    background-color: #F2E9E4;
    border-radius: 20px;
    margin: -40px auto;
    padding: 10px 50px;
    color: #9A8C98;
    box-shadow: 0px 4px 10px 0px #9A8C984D;
}

.about-bar>div {
    display: flex;
    justify-content: space-between;
}

.about-bar-circles {
    width: 128px;
    height: 128px;
    background-color: #9A8C98;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bar-circles>img {
    width: 128px;
}


/* about */

.about {
    margin-top: 100px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 35px;
    justify-content: center;
    padding: 20px;
    margin: 100px auto;
    position: relative;
}

.about>h1 {
    color: #22223B;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.about-pic-box {
    display: flex;
    max-width: 100%;
    margin-top: 60px;
}

.about-pic {
    width: 50%;
    position: relative;
}

.about-pic-first>img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50% 0 0 0;
    overflow: hidden;
}

.about-pic-second>img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 0 0 50% 0;
    overflow: hidden;
}

.about-pic-first {
    border-radius: 50% 0 0 0;
    margin-right: 25px;
}

.about-pic-second {
    border-radius: 0 0 50% 0;
    margin-left: 25px;
}

.dash {
    border-left: 5px dashed #9A8C98;
    border-width: 5px;
}

.read-more {
    margin-top: 100px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
    color: #22223B;
}


/* services */

.services {
    margin-top: 100px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 25px;
    justify-content: center;
    padding: 20px;
    margin: 100px auto;
}

.services>h1 {
    color: #22223B;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.services-pics {
    margin-top: 40px;
    width: 100%;
    display: flex;
}

.services-pic1 {
    width: 50%;
    margin-right: 70px;
    background-color: #9A8C98;
    border-radius: 100px 10px 10px 10px;
    overflow: hidden;
}

.services-pic2 {
    width: 50%;
    background-color: #9A8C98;
    border-radius: 100px 10px 10px 10px;
    overflow: hidden;
}

.services-pic1>img {
    width: 100%;
}

.services-pic2>img {
    width: 100%;
}

.services-pic-info {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #F2E9E4;
}

.services-pic-info>* {
    width: fit-content;
}

.services-pic-info>h2 {
    font-size: 30px;
}

.services-pic-info>p {
    text-align: start;
    margin-top: 20px;
}

.services-pic-info>button {
    cursor: pointer;
    margin-top: 25px;
    font-size: 20px;
    padding: 15px 25px;
    background: #4A4E69;
    color: #FFDFC7;
    border-radius: 10px;
    border: 0;
}


/* gallery */

.gallery {
    margin-top: 100px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 25px;
    justify-content: center;
    padding: 20px;
    margin: 100px auto;
}

.gallery>h1 {
    color: #22223B;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.carousel {
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel__cards {
    position: relative;
    width: 20rem;
    height: 20rem;
}

.carousel__card {
    width: 100%;
    height: 150%;
    position: absolute;
    border: 2px solid white;
    border-radius: 100px 15px 15px 15px;
    font-size: 3em;
    font-weight: 700;
    overflow: hidden;
    opacity: 60%;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.carousel__img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.main_card {
    opacity: 100%;
    box-shadow: 2px 1px 25px 11px #583D3A26;
}

.left_card {
    transform: scale(70%) translateX(-122%) !important;
}

.right_card {
    transform: scale(70%) translateX(122%) !important;
}

.carousel__btn {
    outline: none;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #4A4E69;
    font-size: 1.2em;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    margin: 0 2rem;
    margin-top: 60px;
    font-size: 40px;
    padding: auto;
}

.carousel__btn:hover {
    transform: scale(1.04);
    background: #000000;
}


/* testimonials */

.testimonials {
    margin-top: 100px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    place-items: center;
    line-height: 25px;
    justify-content: center;
    padding: 20px;
    margin: 100px auto;
}

.testimonials>h1 {
    color: #4A4E69;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    max-width: 350px;
    position: relative;
}

.testimonials>h1:before {
    content: '';
    width: 80px;
    height: 80px;
    background-color: #9A8C98;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    top: -45px;
    left: -34px;
}

.quote {
    position: absolute;
    width: 28px;
    top: -27px;
    left: -15px;
}

.testimonials-box {
    display: flex;
    margin-top: 50px;
}

.people {
    margin-right: 100px;
    position: relative;
    width: 400px;
    height: 450px;
}

.person {
    border-radius: 100%;
    border: 5px solid #cbac95;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    width: 170px;
    transition: all 0.3s ease-in;
    outline: none;
    user-select: none;
    box-shadow: 0px 8px 17px -2px #C4643C66;
}

.person>p {
    display: none;
}

.person>img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
}

.person-main {
    top: 130px;
    right: 0px;
}

.person-1 {
    top: -40px;
    right: -30px;
    transform: scale(55%);
}

.person-2 {
    top: 60px;
    right: 200px;
    transform: scale(80%);
}

.person-3 {
    top: 245px;
    right: 200px;
    transform: scale(90%);
}

.person-4 {
    top: 320px;
    right: -10px;
    transform: scale(80%);
}

.testimonials-bar {
    width: 7px;
    background: linear-gradient(180deg, rgba(74, 78, 105, 0.52) 0%, rgba(154, 140, 152, 0.19) 100%);
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.testimonials-circle {
    width: 22px;
    height: 22px;
    background-color: #9A8C98;
    border-radius: 100%;
    position: relative;
}

.testimonials-circle:before {
    content: '';
    width: 27px;
    height: 27px;
    border: 1px solid #9A8C98;
    position: absolute;
    border-radius: 100%;
    top: -3.5px;
    left: -3.5px;
}

.testimonials-circle-selected {
    background-color: #4A4E69;
}

.testimony-box {
    padding: 80px;
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* footer */

footer {
    padding: 60px 120px 30px 120px;
    background-color: #9A8C98;
    color: #F2E9E4;
    display: flex;
    flex-direction: column;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-div-1>h1 {
    margin-bottom: 50px;
}

.email {
    display: flex;
    align-items: center;
}

.email>i {
    font-size: 20px;
}

.email>p {
    margin-left: 10px;
    font-weight: 300;
}

.phone {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.phone>i {
    font-size: 15px;
}

.phone>p {
    margin-left: 10px;
    font-weight: 300;
}

.footer-div-2>h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 10px;
}

.footer-div-2>ul {
    list-style: none;
}

.footer-div-2>ul>li {
    margin-bottom: 15px;
    font-weight: 300;
}

.footer-div-2>button {
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    padding: 15px 25px;
    background: #4A4E69;
    color: #F2E9E4;
    border-radius: 10px;
    border: 0;
}

.location {
    max-width: 160px;
    display: flex;
    font-weight: 300;
}

.location>i {
    margin-right: 10px;
}

.footer-lower-box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: 300;
    font-size: 15px;
}

.footer-lower-box>ul {
    list-style: none;
    display: flex;
}

.footer-lower-box>ul>li {
    margin-right: 20px;
}


/* spots */

.about-spot {
    z-index: -10;
    position: absolute;
    top: 1500px;
    right: 0;
    opacity: 70%;
    mix-blend-mode: multiply;
}

.services-spot {
    z-index: -10;
    position: absolute;
    top: 2500px;
    left: 0;
    opacity: 70%;
    mix-blend-mode: multiply;
}